[submodule "arras/distributed/minicoord"]
	path = arras/distributed/minicoord
	url = https://github.com/dreamworksanimation/minicoord.git
	branch = release
[submodule "arras/arras4_core"]
	path = arras/arras4_core
	url = https://github.com/dreamworksanimation/arras4_core.git
	branch = release
[submodule "moonray/scene_rdl2"]
	path = moonray/scene_rdl2
	url = https://github.com/dreamworksanimation/scene_rdl2.git
	branch = release
[submodule "moonray/mcrt_denoise"]
	path = moonray/mcrt_denoise
	url = https://github.com/dreamworksanimation/mcrt_denoise.git
	branch = release
[submodule "moonray/moonray"]
	path = moonray/moonray
	url = https://github.com/dreamworksanimation/moonray.git
	branch = release
[submodule "moonray/moonshine"]
	path = moonray/moonshine
	url = https://github.com/dreamworksanimation/moonshine.git
	branch = release
[submodule "moonray/moonshine_usd"]
	path = moonray/moonshine_usd
	url = https://github.com/dreamworksanimation/moonshine_usd.git
	branch = release
[submodule "moonray/moonray_arras/mcrt_dataio"]
	path = moonray/moonray_arras/mcrt_dataio
	url = https://github.com/dreamworksanimation/mcrt_dataio.git
	branch = release
[submodule "moonray/moonray_arras/mcrt_computation"]
	path = moonray/moonray_arras/mcrt_computation
	url = https://github.com/dreamworksanimation/mcrt_computation.git
	branch = release
[submodule "moonray/moonray_arras/mcrt_messages"]
	path = moonray/moonray_arras/mcrt_messages
	url = https://github.com/dreamworksanimation/mcrt_messages.git
	branch = release
[submodule "moonray/moonray_gui"]
	path = moonray/moonray_gui
	url = https://github.com/dreamworksanimation/moonray_gui.git
	branch = release
[submodule "moonray/hydra/hdMoonray"]
	path = moonray/hydra/hdMoonray
	url = https://github.com/dreamworksanimation/hdMoonray.git
	branch = release
[submodule "arras/arras_render"]
	path = arras/arras_render
	url = https://github.com/dreamworksanimation/arras_render.git
	branch = release
[submodule "arras/distributed/arras4_node"]
	path = arras/distributed/arras4_node
	url = https://github.com/dreamworksanimation/arras4_node.git
	branch = release
[submodule "cmake_modules"]
	path = cmake_modules
	url = https://github.com/dreamworksanimation/cmake_modules.git
	branch = release
[submodule "moonray/hydra/moonray_sdr_plugins"]
	path = moonray/hydra/moonray_sdr_plugins
	url = https://github.com/dreamworksanimation/moonray_sdr_plugins.git
	branch = release
[submodule "moonray/moonray_dcc_plugins"]
	path = moonray/moonray_dcc_plugins
	url = https://github.com/dreamworksanimation/moonray_dcc_plugins.git
	branch = release
[submodule "moonray/render_profile_viewer"]
	path = moonray/render_profile_viewer
	url = https://github.com/dreamworksanimation/render_profile_viewer.git
	branch = release
